.line-graph {
    display: flex;
    max-width: 555px;
    min-height: 324px;
}

#chartjs-tooltip {
    min-width: 99px;
    height: 53px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    position: relative;
}

#chartjs-tooltip::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    top: 100%;
    left: 50%;
    transform: rotate(45deg) translateX(-50%);
    margin-top: -5px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    background-color: #fff;
}