.genres {
    max-width: 150px;
    max-height: 150px;
    position: relative;
}

.parent {
    position: relative;
    z-index: 11;
}

.child {
    position: absolute;
    z-index: 10;
}
.child-first {
    position: absolute;
    z-index: 14;
}
.child-second {
    position: absolute;
    z-index: 17;
}
.child-third {
    position: absolute;
    z-index: 16;
}
.child-fourth {
    position: absolute;
    z-index: 15;
}

.child-sec {
    position: absolute;
    z-index: 13;
}

.genres p {
    margin: 0;
}

.first {
    position: absolute;
    top: -15px;
    right: 20px;
}

.second {
    position: absolute;
    right: -33px;
    top: 50%;
    transform: translateY(-60%);
}

.third {
    position: absolute;
    bottom: -15px;
    right: 20px;
}

.fourth {
    position: absolute;
    left: 0;
    bottom: 0;
}

.fifth {
    position: absolute;
    top: 0;
    left: -5px;
}