.explore-wrapper {
    display: flex;
}

.first-col {
    margin-left: 40px;
}

.line-wrapper {
    position: relative;
    width: 555px;
    height: 320px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}

.line-wrapper__title {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    min-height: 19px;
    max-width: 555px !important;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px 34px 20px 20px;
}

.line-wrapper__title h2 {
    margin: 0 !important;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #1E2C40;
}

.line-wrapper__title h3 {
    margin: 0 !important;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #1E2C40;
}

.buttons {
    box-sizing: border-box;
    margin-left: 54px;
    margin-bottom: 28px;
    min-height: 28px !important;
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 275px !important;
    display: flex;
}

.buttons-inactive {
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #BBC1CA;
    display: flex !important;
    align-items: center !important;
    justify-content: center;
    border: 1px solid transparent;
}

.buttons-active {
    display: flex !important;
    align-items: center !important;
    justify-content: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
    color: #1E2C40;
    transition: .2s ease-in-out;
}

.button-default:nth-child(1) {
    min-height: 28px !important;
    min-width: 89px !important;
}
.button-default:nth-child(2) {
    min-height: 28px !important;
    min-width: 114px !important;
}
.button-default:nth-child(3) {
    min-height: 28px !important;
    min-width: 99px !important;
}

.progress-wrapper {
    margin-bottom: 16px;
    width: 555px;
    min-height: 241px;
    background-color: #fff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}

.progress-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px 10px 20px;
    padding-top: 20px;
}

.progress-title h3{
    margin: 0 !important;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #1E2C40;
}

.progress-title__link {
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #9BA4B3;
}

.progress-cards {
    display: flex;
    justify-content: space-around;
}

.progress-card {
    text-align: center;
}

.progress-card p {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #1E2C40;
    margin-bottom: 24px !important;
}

.genres-wrapper {
    width: 565px;
    height: 268px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}

.genres-title {
    margin-bottom: 39px;
}

.progressbar {
    margin-left: 50px;
    margin-right: 57px;
    display: flex;
    justify-content: space-between;
}

.genres-description {
    max-width: 226px;
}

.genres-description__title h3 {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #1E2C40;
    margin-top: 0;
}

.genres-description__content {
    display: flex;
    flex-wrap: wrap;
}

.genres-description__content-item {
    width: 50%;
    margin-bottom: 16px;
}

.genres-description__content p {
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #1E2C40;
}

.genres-description__content-item {
    display: flex !important;
    align-items: center;
}

.span {
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 2px;
    margin-right: 8px;
}

.first-span {
    background-color: #04004D;
}
.second-span {
    background-color:#38C7E7;
}
.third-span {
    background-color: #3B5DD6;
}
.fourth-span {
    background-color: #7BDFFF;
}
.fifth-span {
    background-color: #8EA0FF;
}

.social-wrapper {
    width: 555px;
    height: 179px;
    margin-bottom: 16px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}